@charset "UTF-8";

h2{
    font-size:26px;
    background-color:#403F3F;
    color:white;
    text-align:center;
    height:50px;
    line-height: 50px;
}

h3 {
    font-size:20px;
}

li {
    margin-left:20px;
}

a {
    color:white;
    &:hover {
        opacity:0.5;
    }
}

.wrapper {
    @media screen and (min-width:450px) {
        max-width:700px;
        width:100%;
        margin:0 auto;
    }
}

header {
    background-color:#2F4F4F;
    text-align:center;
    color:white;
    height:50px;
    line-height:50px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding-left:20px;
    padding-right:20px;
    h1 {
        font-size:30px;
    }
    ul {
        list-style-type: none;
    }
}

.skillsBox {
    display:flex;
    flex-wrap:wrap;
    padding-left:20px;
    padding-right:20px;
    justify-content: space-between;
    margin-top:20px;
    margin-bottom:20px;
    color:white;
    h3 {
        text-align:center;
        margin-bottom:5px;
    }
    .skillItem {
        width:100%;
        background-color:#403F3F;
        padding:1%;
        margin-bottom:20px;
        @media screen and (min-width:450px) {
            width:49%;
            margin-bottom:0;
        }
        ul {
            width:100%;
            display: flex;
            flex-wrap:wrap;
            li {
                width:40%;
            }
        }
    }
    .shikakuItem {
        width:100%;
        background-color:#403F3F;
        padding:1%;
        @media screen and (min-width:450px) {
            width:49%;
        }
    }
}

.worksBox {
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
    .worksItem {
        display:flex;
        flex-wrap:wrap;
        margin-top:20px;
        align-items:center;
        border:1px solid #403F3F;
        .worksItemDl {
            width:100%;
            background-color:#403F3F;
            color:white;
            padding: 2%;
            @media screen and (min-width:450px) {
                width:50%;
            }
            dl {
                margin-bottom:20px;
                @media screen and (min-width:450px) {
                    margin-bottom:0;
                }
                dt {
                    font-size:20px;
                    font-weight:bold;
                    text-align:center;
                }
                dd {
                    margin-top:10px;
                    font-size:18px;
                    text-align:center;
                    span {
                        font-weight:bold;
                    }
                    a {
                        font-weight:bold;
                    }
                }
            }
        }
        .worksItemImg {
            width:100%;
            padding:1%;
            @media screen and (min-width:450px) {
                width:50%;
            }
            img {
                max-width:320px;
                width:100%;
                display:block;
                margin:0 auto;
                object-fit:contain;
            }
        }
    }
}

footer {
    background-color:#2F4F4F;
    text-align:center;
    color:white;
    height:50px;
    line-height:50px;
    small {
        font-size:12px;
    }
}